.spacer {
    flex: 1 1 auto;
}

.title {
    color: #ffffff;
    padding: 10px;
}

.toolbar {
    background: #F03C02;
    border-bottom: 1px solid #ffffff;
}
.profile-button{
    border: 2px solid #ffffff;
    color: #ffffff;
}